@model Staj.AspNetMVC.StokTakip.Web.Models.Entities.Kategoriler
@{
    ViewBag.Title = "KategoriGuncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-dark w-50 my-5 mx-auto">
    <div class="card shadow-lg mt-3" style="border:0">
        <div class="card-header bg-dark">
            <h2 style="color: #e9d362;">Kategori Güncelle</h2>
        </div>
        <div class="card-body bg-dark text-info" style="color: #e9d362;">
            <form action="/Kategoriler/KategoriGuncelle">

                @Html.HiddenFor(I => I.Id)
                <div class="form-group">
                    @Html.LabelFor(I => I.KategoriAdi)
                    @Html.TextBoxFor(I => I.KategoriAdi, new { @class = "form-control" })
                    @Html.ValidationMessageFor(I => I.KategoriAdi, null, new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(I => I.Aciklama)
                    @Html.TextAreaFor(I => I.Aciklama, new { @class = "form-control" })
                    @Html.ValidationMessageFor(I => I.Aciklama, null, new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    <button class="btn btn-success">Kaydet</button>
                    <a class="btn btn-danger float-right" href="/Kategoriler/Index/">İptal</a>
                </div>
            </form>

        </div>
    </div>
</div>

@section scriptdanger{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
