@model Staj.AspNetMVC.StokTakip.Web.Models.Entities.Urunler
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bg-dark w-50 my-5 mx-auto">
    <div class="card shadow-lg mt-3" style="border:0">
        <div class="card-header bg-dark">
            <h2 style="color:#e9d362;">Ürün Ekle</h2>
        </div>
        <div class="card-body bg-dark text-info">
            @using (Html.BeginForm("UrunEkle", "Urunler", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(I => I.Kategoriler.KategoriAdi)
                    @Html.DropDownListFor(I => I.KategoriId, Model.KategoriListesi, "---Seçiniz---", new { @class = "form-control" })
                    @Html.ValidationMessageFor(I => I.KategoriId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(I => I.Markalar.MarkaAdi)
                    @Html.DropDownListFor(I => I.MarkaId, Model.MarkaListesi, new { @class = "form-control" })
                    @Html.ValidationMessageFor(I => I.MarkaId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(I => I.UrunAdi)
                    @Html.TextBoxFor(I => I.UrunAdi, new { @class = "form-control" })
                    @Html.ValidationMessageFor(I => I.UrunAdi, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(I => I.BarkodNo)
                    @Html.TextBoxFor(I => I.BarkodNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(I => I.BarkodNo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(I => I.AlisFiyati)
                    @Html.TextBoxFor(I => I.AlisFiyati, new { @class = "form-control" })
                    @Html.ValidationMessageFor(I => I.AlisFiyati, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(I => I.SatisFiyati)
                    @Html.TextBoxFor(I => I.SatisFiyati, new { @class = "form-control" })
                    @Html.ValidationMessageFor(I => I.SatisFiyati, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(I => I.Miktari)
                    @Html.TextBoxFor(I => I.Miktari, new { @class = "form-control" })
                    @Html.ValidationMessageFor(I => I.Miktari, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(I => I.Birimler.BirimAdi)
                    @Html.DropDownListFor(I => I.BirimId, Model.BirimListesi, "---Seçiniz---", new { @class = "form-control" })
                    @Html.ValidationMessageFor(I => I.BirimId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(I => I.KDV)
                    @Html.TextBoxFor(I => I.KDV, new { @class = "form-control" })
                    @Html.ValidationMessageFor(I => I.KDV, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(I => I.Tarih)
                    @Html.TextBoxFor(I => I.Tarih, new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(I => I.Tarih, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(I => I.Aciklama)
                    @Html.TextAreaFor(I => I.Aciklama, new { @class = "form-control" })
                    @Html.ValidationMessageFor(I => I.Aciklama, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Kaydet</button>
                    <a class="btn btn-danger float-right" href="/Urunler/Index/">İptal</a>
                </div>
            }

        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#KategoriId").change(function () {
                var ID = $("#KategoriId").val();
                var markaList = $("#MarkaId");
                markaList.empty();
                $.ajax({
                    url: '/Urunler/MarkaGetir',
                    type: 'POST',
                    dataType: 'json',
                    data: { 'id': ID },
                    success: function (data) {
                        $.each(data, function (index, option) {
                            markaList.append('<option value=' + option.Value + '>' + option.Text + '</option>')
                        });
                    }
                });
            });
        });
    </script>
}

@section scriptdanger{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
