@model Staj.AspNetMVC.StokTakip.Web.Models.Entities.Markalar
@{
    ViewBag.Title = "MarkaGuncellemeGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-dark w-50 my-5 mx-auto">
    <div class="card shadow-lg mt-3" style="border:0">
        <div class="card-header bg-dark">
            <h2 style="color: #e9d362;">Marka Güncelle</h2>
        </div>
        <div class="card-body bg-dark text-info" style="color: #e9d362;">
            @using (Html.BeginForm("MarkaGuncelle", "Markalar"))
            {
                @Html.HiddenFor(I => I.Id)
                <div class="form-group">
                    @Html.LabelFor(I => I.Kategoriler.KategoriAdi)
                    @Html.DropDownListFor(I => I.KategoriId, (List<SelectListItem>)ViewBag.l, "---Seçiniz---", new { @class = "form-control" })
                    @Html.ValidationMessageFor(I => I.KategoriId, null, new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(I => I.MarkaAdi)
                    @Html.TextBoxFor(I => I.MarkaAdi, new { @class = "form-control" })
                    @Html.ValidationMessageFor(I => I.MarkaAdi, null, new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(I => I.Aciklama)
                    @Html.TextBoxFor(I => I.Aciklama, new { @class = "form-control" })
                    @Html.ValidationMessageFor(I => I.Aciklama, null, new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    <button class="btn btn-success">Kaydet</button>
                    <a class="btn btn-danger float-right" href="/Markalar/Index/">İptal</a>
                </div>
            }

        </div>
    </div>
</div>

@section scriptdanger{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

